{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block header %}
  <h2 class="header">
    <span class="red-text">ABOUT</span> US & OUR PLATFORM
  </h2>
{% endblock header %}

{% block content %}
<hr>
  
<div class="about-container">
  <div class="about-row">
      <div class="about-header">About STEGO</div>
      <div class="about-content">
          <p>
            STEGO is a company that provides thermal management solutions to protect electronic components from heat, cold, and moisture. 
            Their technology helps maintain stable temperature and humidity levels, preventing overheating and equipment failures. 
            Developing achtBytes, an IoT platform, STEGO is able to monitor sensor data in real-time to view trends and improve efficiency within various systems.

          </p>
      </div>
  </div>

  <div class="about-row">
      <div class="about-header">What Our Platform Does</div>
      <div class="about-content">
          <p>
            Our project provides a dashboard for monitoring traffic control infrastructure using real-time data visualization. 
            The dashboard is intergrated with sensor data from the traffic control box to track key metrics such as temperature, humidity, and CO₂ emissions, allowing users to identify trends and detect potential issues.
          </p>
      </div>
  </div>

  <div class="about-row">
      <div class="about-header">Key Features</div>
      <div class="about-content">
          <p>
            • Real-time Data Visualization
            <br>
            • Cloud-Based Accessibility 
            <br>
            • Scalability 
            <br>
            • Alerts & Notifications
          </p>
      </div>
  </div>

 

 





{% endblock content %}