<!DOCTYPE html>
<html lang="en">
<head>
  <title> Capstone - {% block title %}{% endblock title %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="main-page">
  {% include("_navigation.html") %}

  <div class="content-area">
    <header>
      <div id="header-fade">{% block header %}{% endblock header %}</div>
    </header>
    <main>
      <div id="fade-container">{% block content %}<p>No messages.</p>{% endblock content %}</div>
    </main>
  </div>

<!-- For animation of pages = fading in -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const content = document.getElementById("fade-container");
    const header = document.getElementById("header-fade");

    if (content) content.classList.add("fade-in");
    if (header) header.classList.add("fade-in");
  });
</script>


</body>
</html>